/* #innner-search-title {
    display: flex;
} */

.spot-search-result {
    display: flex;
    flex-direction: column;
    height: 385px;
    width: 300px;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.search-page {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
}

.inner-spot-search {
    display: flex;
    align-items: space-between;
    justify-items: space-between;

}

.search-page img {
    width: 280px;
    height: 280px;
    border-radius: 12px;
}
