#inner-search-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 0 0 ;
}

.spot-search-result {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.search-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    max-width: 1600px;
    grid-gap: 20px;
}

.inner-spot-search {
    display: flex;
    align-items: space-between;
    justify-items: space-between;
}

.search-page img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.spot-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
}
