/* TODO Add site wide styles */
.root {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1600px;
}

body {
    margin: 0 10%;
}
